# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# DotEnv configuration
.env

# Pycharm
.idea

# VS Code
.vscode/


# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude model
models/


